<table class="table">
  <thead>
    <tr>
      <th scope="col">MVT</th>
      <th scope="col">Compte</th>
      <th scope="col">Libele</th>
      <th scope="col">Date</th>
      <th scope="col">Débit</th>
      <th scope="col">Crédit</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>client test1</td>
      <td>libele test1</td>
      <td>12/02/2020</td>
      <td>400</td>
      <td>500</td>
    </tr>
    <tr>
      <td>2</td>
      <td>client test2</td>
      <td>libele test2</td>
      <td>12/03/2020</td>
      <td>300</td>
      <td>400</td>
    </tr>
    <tr>
      <td>3</td>
      <td>client test3</td>
      <td>libele test3</td>
      <td>12/04/2020</td>
      <td>250</td>
      <td>600</td>
    </tr>
  </tbody>
</table>

