<!--header start here-->
<div class="header" id="header">
	<div class="container">
		<div class="header-main">
			<div class="header-left">
				<div class="logo">
				   <h1><a href="index.html">C-Speed</a></h1>
			    </div>
				<div class="social-icons">
					<ul>
						<li><a href="#"><span class="fa"> </span></a></li>
						<li><a href="#"><span class="tw"> </span></a></li>
						<li><a href="#"><span class="ga"> </span></a></li>
					</ul>
				</div>
				 <div class="clearfix"> </div>
			  </div>
				<div class="top-navg">
					   <span class="menu"> <img src="assets/images/icon.png" alt=""/></span>
					<nav class="cl-effect-16">
						<ul class="res d-flex">
							<li><a class="scroll" routerLink="/dashboard">dashboard</a></li>
							<!--<li><a class="scroll"      routerLink="/">Home</a></li>-->

                            <li><a class="scroll"  href="#subheader">Home</a></li>
							<li><a class="scroll"  href="#about">About</a></li>
							<li><a class="scroll"  href="#services">Services</a></li>

							<li><a class="scroll"  href="#pricing">pricing</a></li>
							<li><a class="scroll"  href="#contact">Contact</a></li>
							<!--<li><a class="scroll" href="#gallery">Gallery</a></li>
								<li><a class="scroll"  href="#contact">Contact</a></li>
                            <li><a class="scroll" routerLink="/register">sign up</a></li>
                            <li><a class="scroll" routerLink="/login" href="#contact">sign in</a></li>-->
                            <div class="d-flex actions">
							<li><button  class="btn action" type="button" routerLink="/register" >sign up</button></li>
                            <li><button class="btn action" routerLink="/login" href="#contact">sign in</button></li>
                          </div>

						</ul>
					<!-- script-for-menu -->
						 <script>
						   $( "span.menu" ).click(function() {
							 $( "ul.res" ).slideToggle( 300, function() {
							 // Animation complete.
							  });
							 });
						</script>

					</nav>
				</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
