<div class="d-flex justify-content-end mb-3">
  <a class="btn btn-primary" routerLink="/dashboard/addbureaucomptable">Ajouter</a>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nom bureau / client</th>
      <th scope="col">Mail</th>
      <th scope="col">Dossier</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody *ngIf="listeBureau">
    <tr *ngFor="let bureau of listeBureau">
      <td>{{ bureau.id }}</td>
      <td>{{ bureau.name }}</td>
      <td>{{ bureau.email }}</td>
      <td>
        <button [routerLink]="['/dashboard/bureaucomptable/dossier/test1']" class="btnn">
          <i class="fa fa-folder"></i>
        </button>
      <td>
        <button [routerLink]="['/dashboard/editbureaucomptable/' + bureau.id ]" class="btnn bg-success mr-1">
          <i class="fa fa-edit"></i>
        </button>
        <button (click)="deleteBureau(bureau.id)" class="btnn bg-danger">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>