
<div class="about" id="about">
	<div class="container">
		<div class="abou-main">
			<div class="about-top">
				<h2>About us</h2>
				<p>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally pleasure.</p>
			</div>
			<div class="about-bottom">
				<div class="col-md-4 about-grid">
					<img src="assets/images/a1.jpg" alt="" class="img-responsive">
					<div class="grid-details">
						<h3>Et harum quidem rerum facilis</h3>
						<p>Excepteur sint occaecat cupidatat proident sunt culpa officia.</p>
					</div>
				</div>
				<div class="col-md-4 about-grid">
					<img src="assets/images/c4.jpg" alt="" class="img-responsive">
					<div class="grid-details">
						<h3>Et harum quidem rerum facilis</h3>
						<p>Excepteur sint occaecat cupidatat proident sunt culpa officia.</p>
					</div>
				</div>
				<div class="col-md-4 about-grid">
					<img src="assets/images/c2.jpg" alt="" class="img-responsive">
					<div class="grid-details">
						<h3>Et harum quidem rerum facilis</h3>
						<p>Excepteur sint occaecat cupidatat proident sunt culpa officia.</p>
					</div>
				</div>
			  <div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>