<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <h2>Ajouter mouvement comptable</h2>
        </div>
    </div>
    <div class="content-body">
        <div class="container-fluid">
            <form (ngSubmit)="addMv()">
                <div class="form-group">
                    <label>Code</label>
                    <input type="text" class="form-control" placeholder="Code" name="phone" [(ngModel)]="form.code" >
                </div>
                <div class="form-group">
                    <label>Libelle début</label>
                    <input type="text" class="form-control" placeholder="Libelle" name="name" [(ngModel)]="form.libelle_debit" >
                </div>
                <div class="form-group">
                    <label>Movement début</label>
                    <input type="number" class="form-control" placeholder="Credit total" name="debut" [(ngModel)]="form.m_debit" >
                </div>
                <div class="form-group">
                    <label>Libelle crédit</label>
                    <input type="text" class="form-control" placeholder="Libelle" name="name" [(ngModel)]="form.libelle_credit" >
                </div>
                <div class="form-group">
                    <label>Movement crédit</label>
                    <input type="number" class="form-control" placeholder="Credit total" name="credit" [(ngModel)]="form.m_credit" >
                </div>
                <button class="btn btn-primary" id="login-btn">Ajouter</button>
            </form>
        </div>
    </div>
</div>