<div class="d-flex justify-content-end mb-3">
    <a class="btn btn-primary" routerLink="/dashboard/addclient">Ajouter</a>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nom client</th>
        <th scope="col">Telephone</th>
        <th scope="col">Mail</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody *ngIf="listeClient">
      <tr *ngFor="let client of listeClient">
        <td>{{ client.id }}</td>
        <td>{{ client.name }}</td>
        <td>{{ client.phone }}</td>
        <td>{{ client.email }}</td>
        <td>
          <button [routerLink]="['/dashboard/editclient/' + client.id ]" class="btnn bg-success mr-1">
            <i class="fa fa-edit"></i>
          </button>
          <button (click)="deleteclient(client.id)" class="btnn bg-danger">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>