<div class="contact" id="contact">
	<div class="container">
		<div class="contact-main">
			<div class="contact-top">
				<h3>Quick Contact</h3>
				<p>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally pleasure.</p>
			</div>
			<div class="contact-bottom">
			 <form>
				<div class="col-md-6 contact-left">
				   
					<textarea placeholder="Message" required=""></textarea>
					
				</div>
				<div class="col-md-6 contact-right">
					<input type="text" placeholder="Name">
				    <input type="text" placeholder="Email">
					<input type="submit" value="Send">
				
				</div>
			  <div class="clearfix"> </div>
			    </form>
			</div>
		</div>
	</div>
</div>
