
<div class="gallery" id="gallery">
	<div class="container">
		<div class="gallery-main">
			<div class="gallery-top">
				<h3>Gallery</h3>
				<p>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally pleasure.</p>
			</div>
			<div class="gallery-bottom">
				<div class="view view-fourth">
                     <a href="assets/images/g1.jpg" class="b-link-stripe b-animate-go  swipebox"  title="Image Title"><img src="assets/images/g1.jpg" alt="" class="img-responsive">
                    <div class="mask">
                         <h3>Medical</h3>
                        <p>A wonderful serenity has taken possession of my entire soul.</p>
                      <span class="gall">More</span>
                    </div></a>
                </div>
                <div class="view view-fourth">
                     <a href="assets/images/g2.jpg" class="b-link-stripe b-animate-go  swipebox"  title="Image Title"><img src="assets/images/g2.jpg" alt="" class="img-responsive">
                    <div class="mask">
                          <h3>Medical</h3>
                        <p>A wonderful serenity has taken possession of my entire soul.</p>
                      <span class="gall">More</span>
                    </div></a>
                </div>
                <div class="view view-fourth">
                     <a href="assets/images/g3.jpg" class="b-link-stripe b-animate-go  swipebox"  title="Image Title"><img src="assets/images/g3.jpg" alt="" class="img-responsive">
                    <div class="mask">
                          <h3>Medical</h3>
                        <p>A wonderful serenity has taken possession of my entire soul.</p>
                      <span class="gall">More</span>
                    </div></a>
                </div>
                <div class="view view-fourth">
                     <a href="assets/images/g4.jpg" class="b-link-stripe b-animate-go  swipebox"  title="Image Title"><img src="assets/images/g4.jpg" alt="" class="img-responsive">
                    <div class="mask">
                          <h3>Medical</h3>
                        <p>A wonderful serenity has taken possession of my entire soul.</p>
                      <span class="gall">More</span>
                    </div></a>
                </div>
                <div class="view view-fourth">
                     <a href="assets/images/g5.jpg" class="b-link-stripe b-animate-go  swipebox"  title="Image Title"><img src="assets/images/g5.jpg" alt="" class="img-responsive">
                    <div class="mask">
                          <h3>Medical</h3>
                        <p>A wonderful serenity has taken possession of my entire soul.</p>
                      <span class="gall">More</span>
                    </div></a>
                </div>
                <div class="view view-fourth">
                     <a href="assets/images/g6.jpg" class="b-link-stripe b-animate-go  swipebox"  title="Image Title"><img src="assets/images/g6.jpg" alt="" class="img-responsive">
                    <div class="mask">
                        <h3>Medical</h3>
                        <p>A wonderful serenity has taken possession of my entire soul.</p>
                      <span class="gall">More</span>
                    </div></a>
                </div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>

