<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <h2>Ajouter bilans</h2>
        </div>
    </div>
    <div class="content-body">
        <div class="container-fluid">
            <form (ngSubmit)="addbilans()">
                <div class="form-group">
                    <label>libelle</label>
                    <input type="text" class="form-control" placeholder="libelle " name="nom" [(ngModel)]="form.nom" >
                </div>
                <div class="form-group">
                    <label>Code</label>
                    <input type="text" class="form-control" placeholder="Code" name="name" [(ngModel)]="form.code" >
                </div>
                <div class="form-group">
                    <label>Etat</label>
                    <select name="etat" class="form-control" [(ngModel)]="form.etat">
                        <option value="Actif" selected>Actif</option>
                        <option value="Passif">Passif</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>compte</label>
                                    
                    <select name="etat" class="form-control" [(ngModel)]="form.mv_comptable_id">
                        <option value="Actif" *ngFor="let mv_comptable of listeMvComptable" [value]="mv_comptable.id">{{ mv_comptable.code }} | {{ mv_comptable.libelle_debit }} - {{ mv_comptable.libelle_credit }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>.</label>
                    <input type="number" class="form-control" placeholder="" name="actif" [(ngModel)]="form.actif" >
                </div>
                <div class="form-group">
                    <label>Montant</label>
                    <input type="number" class="form-control" placeholder="Montant" name="total_actif" [(ngModel)]="form.total_actif" >
                </div>
                <div class="form-group">
                    <label>.</label>
                    <input type="number" class="form-control" placeholder="" name="passif" [(ngModel)]="form.passif" >
                </div>
                <div class="form-group">
                    <label>.</label>
                    <input type="number" class="form-control" placeholder="" name="total_passif" [(ngModel)]="form.total_passif" >
                </div>
                <button class="btn btn-primary" id="login-btn">Ajouter</button>
            </form>
        </div>
    </div>
</div>
