<body>
    <div class="bg-img">
      <div class="content">
        <header>Reset Password</header>
        <form #ResetPasswordForm=ngForm (ngSubmit)="onSubmit()">
          
          <div class="field space">
            <span class="fa fa-user"></span>
            <input type="text"  placeholder="Email or Phone" name="email" [(ngModel)]="form.email" required>
          </div>

          <div class="field space">
            <span class="fa fa-user"></span>
            <input type="text"  placeholder="password... or Phone" name="password" [(ngModel)]="form.password" required>
          </div>

          <div class="field space">
            <span class="fa fa-user"></span>
            <input type="text"  placeholder="Email or Phone" name="password_confirmation" [(ngModel)]="form.password_confirmation"required>
          </div>
         
          
          <div class="field space">
            <input type="submit" value="LOGIN" [disabled]="!ResetPasswordForm.valid">
          </div>
        </form>
      
        <div class="signup">Don't have account?
          <a href="#">Signup Now</a>
        </div>
      </div>
    </div>

    <script>

      const pass_field = document.querySelector('.pass-key');
      const showBtn = document.querySelector('.show');
      showBtn.addEventListener('click', function(){
       if(pass_field.type === "password"){
         pass_field.type = "text";
         showBtn.textContent = "HIDE";
         showBtn.style.color = "#3498db";
       }else{
         pass_field.type = "password";
         showBtn.textContent = "SHOW";
         showBtn.style.color = "#222";
       }
      });
   


    </script>


  </body>