
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
  
  
<body>
  <div class="main">
  <div class="container-center"><br><br><br><br>
    
  <h2>Permission Name Form</h2><br>
   <form (ngSubmit)="updateRole()"><!--(ngSubmit)="updateRole()"-->
    
    <div class="formgroup">
      <input type="text" name="name" placeholder="Enter your new Role Name" [(ngModel)]="form.name"  /><!---->
      <span>enter your new Permission name</span>
    </div>
  
    <button id="login-btn" >Update permission Name</button>
  
    
  </form>
</div>
</div>
</body>
</div>
</div>
</div>