<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <h2>Envoyer e-mail</h2>
        </div>
    </div>
    <div class="content-body">
        <div class="container-fluid">
            <form (ngSubmit)="sendEmail()">
                <div class="form-group">
                    <label>Destinataire</label>
                    <select class="form-control" name="destinataire" [(ngModel)]="form.id" >
                        <option *ngFor="let client of listeClient" [value]="client.id">{{ client.name }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Subject</label>
                    <input type="text" class="form-control" placeholder="Subject" name="subject" [(ngModel)]="form.subject" >
                </div>
                <div class="form-group">
                    <label>Message</label>
                    <textarea class="form-control" placeholder="Message" name="message" [(ngModel)]="form.message"></textarea>
                </div>
                <button class="btn btn-primary" id="login-btn">Envoyer</button>
            </form>
        </div>
    </div>
</div>