
<div class="row">
  <div class="col">
    <div class="container">
      <div [routerLink]="['/dashboard/bureaucomptable/dossier/test1/journal/journal1']" class="items">
        <div class="icon-wrapper">
          <i class="far fa-folder-open"></i>
        </div>
        <div class="project-name">
          <p>2013</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="container">
      <div [routerLink]="['/dashboard/bureaucomptable/dossier/test2/journal/journal2']" class="items">
        <div class="icon-wrapper">
          <i class="far fa-folder-open"></i>
        </div>
        <div class="project-name">
          <p>2014</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="container">
      <div [routerLink]="['/dashboard/bureaucomptable/dossier/test3/journal/journal3']" class="items">
        <div class="icon-wrapper">
          <i class="far fa-folder-open"></i>
        </div>
        <div class="project-name">
          <p>2015</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="container">
      <div [routerLink]="['/dashboard/bureaucomptable/dossier/test4/journal/journal4']" class="items">
        <div class="icon-wrapper">
          <i class="far fa-folder-open"></i>
        </div>
        <div class="project-name">
          <p>2016</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="container">
      <div [routerLink]="['/dashboard/bureaucomptable/dossier/test5/journal/journal5']" class="items">
        <div class="icon-wrapper">
          <i class="far fa-folder-open"></i>
        </div>
        <div class="project-name">
          <p>2017</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="container">
      <div [routerLink]="['/dashboard/bureaucomptable/dossier/test6/journal/journal6']" class="items">
        <div class="icon-wrapper">
          <i class="far fa-folder-open"></i>
        </div>
        <div class="project-name">
          <p>2018</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="container">
      <div [routerLink]="['/dashboard/bureaucomptable/dossier/test7/journal/journal7']" class="items">
        <div class="icon-wrapper">
          <i class="far fa-folder-open"></i>
        </div>
        <div class="project-name">
          <p>2019</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="container">
      <div [routerLink]="['/dashboard/bureaucomptable/dossier/test8/journal/journal8']" class="items">
        <div class="icon-wrapper">
          <i class="far fa-folder-open"></i>
        </div>
        <div class="project-name">
          <p>2020</p>
        </div>
      </div>
    </div>
  </div>
</div>
