

<!--advantages start here-->
<div class="advantages">
	<div class="container">
		<div class="advantages-main">
			 <h3>Our Advantages</h3>
			<div class="col-md-7 advant-left">
				<p style="color: black;">The creation of a responsive, digital, secure web application that is
					available via web or mobile app or DSK top on all systems
					The purpose of operation is to facilitate the working method and save money.</p>
				<ul>
					<li><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"> </span> <a href="#" style="color: black;">The use of the application does not require any prior installation </a></li>
					<li><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"> </span> <a href="#" style="color: black;">speed of registration</a></li>
					<li><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"> </span><a href="#" style="color: black;">facilitate payment </a></li>
					<li><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"> </span><a href="#" style="color: black;">Quidem facilis expedita distinctio</a></li>
					<li><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"> </span> <a href="#" style="color: black;">Idea denouncing pleasure praising</a></li>
				</ul>
			</div>
			<div class="col-md-5 advant-right">
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
