
<app-subheader></app-subheader>

<app-about></app-about>
<div class="team-mem">
    <div class="container">
           <div class="team-main">
                <div class="team-top">
                        <h3>Our Team</h3>
                </div>
                <div class="team-bottom">
                    <div class="col-md-3 team-grid">
                        <a href="#"> <img src="assets/images/mlk.jpg" alt="" class="img-responsive"> </a>
                    </div>
                    <div class="col-md-3 team-grid">
                        <a href="#"> <img src="assets/images/sam.jpg" alt="" class="img-responsive"> </a>
                    </div>
                    <div class="col-md-3 team-grid">
                        <a href="#"> <img src="assets/images/mlk.jpg" alt="" class="img-responsive"> </a>
                    </div>
                    <div class="col-md-3 team-grid">
                        <a href="#"> <img src="assets/images/sam.jpg" alt="" class="img-responsive"> </a>
                    </div>
                <div class="clearfix"> </div>
            </div>
        </div>
  </div>
</div>


<div class="services" id="services">
	<div class="container">
		<div class="services-main">
			<div class="services-top">
				<h3>Services</h3>
				<p>allows you to perform all current accounting operations. Numerous advanced automatisms facilitate daily work.</p>
			</div>
			<div class="services-bottom">
			  <div class="hi-icon-wrap hi-icon-effect-6">
				<div class="col-md-3 ser-grid">
					<div class="ser-icon">
						<a href="#" class="hi-icon hi-icon-archive glyphicon glyphicon-eye-open"> </a>
					</div>
					<h4>accounting movements</h4>
					<p>Many reports are available, General Ledger, Balance, Journal</p>
				</div>
				<div class="col-md-3 ser-grid">
					<div class="ser-icon">
				      <a href="#" class="hi-icon hi-icon-archive glyphicon glyphicon-grain"> </a>
					</div>
					<h4>VAT management</h4>
					<p>It integrates VAT management as standard</p>
				</div>
				<div class="col-md-3 ser-grid">
					<div class="ser-icon">
						<a href="#" class="hi-icon hi-icon-archive glyphicon glyphicon-heart"> </a>
					</div>
					<h4>work organization</h4>
					<p>this application will make it possible to organize the working method in addition to the accounting movements</p>
				</div>
				<div class="col-md-3 ser-grid">
					<div class="ser-icon">
						<a href="#" class="hi-icon hi-icon-archive glyphicon glyphicon-tint"> </a>
					</div>
					<h4>Temporibus quibusdam</h4>
					<p>But I must explain to you how all this mistaken idea of denouncing pleasure</p>
				</div>
			  </div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>


<div class="testmony">
	<div class="container">
		<div class="testmony-main">
			<div class="col-md-4 testmo-left">
				<img src="assets/images/mlk.jpg" alt="" class="img-responsive">
			</div>
			<div class="col-md-8 testmo-right">
				<span class="quota1"> </span>
				<h4>Nam libero tempore soluta nobis eligendi optio cumque impedit</h4>
				<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings</p>
			    <span class="quota2"> </span>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>

<!--<app-gallery></app-gallery>-->

<app-advantages></app-advantages>
<app-pricing></app-pricing>
<app-contact></app-contact>
